body{
    font: 15px/1.5 Arial, helvetica, sans-serif;
    padding: 0;
    marging: 0;
    background-color:#f4f5f7; 
}

/*global*/
.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}
    header{
        background: #35424a;
        color: #ffffff;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #e8491d 3px solid;

    }
    header ul{
        margin: 0px;
        padding: 0px;
    }
    .button_1{
        height: 38px;
        background:#e8492d;
        border: 0;
        padding: right 20px;
        padding: right 20px;
        color: white;
    }
    .dark{
        padding:15px;
        background:#464342;
        color:#ffffff;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    header a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        }
        header li{
            float: left;
            display: inline;
            padding: 0px 20px 0px 20px;
         
        }
        header #branding{
            float:left;
        }
        header #branding h1{
           margin: 0;
        }
        header nav{
            float:right;
            margin-bottom:10px; 
        }
        header .highlight, header .current a{
            color: #e8491d;
            font-weight:bold; 
        }
        header a:hover{
            color: #e8491d;
            font-weight:bold;
        }
        /*showcase*/
        #showcase{
            min-height: 400px;
            background: url('C:/Users/Hp/Desktop/HTM+CSS WEB/images/showcase.jpeg') no-repeat 0 -100px; 
            text-align:center;
            color:white;
        }
        #showcase h1{
            margin-top: 100px;
            font-size: 50px;
            margin-bottom: 10px;
        }
        #showcase p{
            font-size: 20px;
        }
        #newsletter{
            padding:60px;
            color:#ffffff;
            background: #35424a;
            margin-bottom: 10px;

        }
        #newsletter h1{
            float: left;
        }
        #newsletter form{
            float: right;
            margin-top: 15px;
        }
        #newsletter input[type="email"]{
            padding: 4px;
            height:25px;
            weight:250px; 

        }
        /*boxes*/
        #boxes{
            margin-top:20px;
        }

        #boxes .box{
            float: left;
            text-align: center;
            width: 30%;
            padding: 10px;
           
        }
        #boxes .box img{
            weight:90px
        }
        
        /*main-col
        article#main-col{
            float:left;
            Width:35%;
           

        }
        /*side bar

        aside#sidebar{
            float:left;
            width:30%;
            margin-top:10px;
        }  */ 
        /*footer*/
        footer {
            padding:5px;
            margin-top:30%;
            color:white;
            background-color: #e8491d;
            text-align: center;
        }
        footer h1{
            font-dize:20px;
        }
        